main {
    margin-top: 60px;
    background: var(--grey-clr-1);
}

@media screen and (max-width: 425px) {
    main section#carousel, article {
        padding: 30px 20px;
    }
}
@media  screen and (min-width: 426px) {
    main section#carousel, article {
        padding: 60px 30px;
    }
}