main {
    margin-top: 60px;
    background: var(--grey-clr-1);
    padding-bottom: 1000px;
}

@media screen and (max-width: 425px) {
    main section#carousel, article {
        padding: 30px 20px;
    }
}
@media  screen and (min-width: 426px) {
    main section#carousel, article {
        padding: 40px;
    }
}
@media  screen and (min-width: 769px) {
    main section#carousel, article {
        padding: 100px;
    }
}