main {
    margin-top: 60px;
}
main section#carousel, article, footer .container {
    padding: 60px 20px;
}

@media  screen and (min-width: 426px) {
    main section#carousel, article, footer .container {
        padding: 80px 40px;
    }
}
@media  screen and (min-width: 769px) {
    main section#carousel, article, footer .container {
        padding: 120px 60px;
    }
}