@import url('./components/navigation.css');
@import url('./components/main.css');
@import url('./components/button.css');
@import url('./components/carousel.css');
@import url('./components/articles.css');

:root {
    /* font-family */
    --ff-poppins: "Poppins", sans-serif;
    /* color */
    /* grey */
    --grey-clr-darker-1: rgb(20, 20, 20);
    --grey-clr-1: rgb(34, 34, 34);
    --grey-clr-2: #333333;
    --grey-clr-3: #444444;
    --grey-clr-4: #555555;
    --grey-clr-5: #bbbb;
    --grey-clr-6: #dddd;
    /* blue */
    --blue-clr-1: rgb(0, 200, 255); 
    --blue-clr-2: #3bcff8; 
    --blue-clr-3: #61DAFB;  /*main*/
    --blue-clr-4: #a8eafc;
    --blue-clr-5: #cdf4ff;
    /* transition */
    --transition: .3s ease-out;
  /* 0px 26px 15px -10px rgba(0, 0, 0, 0.15) */
    /* boxshadow */
    --blue-shadow:0px 26px 15px -10px rgba(0, 200, 255, 0.15);
    --grey-shadow:0px 26px 15px -10px rgba(34, 34, 34, 0.15);
    --light-shadow: 0px 26px 15px -10px rgba(255, 255, 255, 0.15);
}

*, *:before, *:after {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
  border: unset;
  /* outline: 1px solid red; */
}
body {
  font-family: var(--ff-poppins);
}
.hidden {
  display: none;
}

/* mobile */
@media screen and (max-width: 425px) {
  /* headding */
  h1{font-size: 24px;}
  h2{font-size: 20px;}
  h3{font-size: 18px;}
  h4{font-size: 16px;}
  h5{font-size: 14px;}
  h6{font-size: 12px;}
  /* paragraph */
  p{font-size: 14px;}
  a{font-size: 14px;}
}

/* tablet */
@media screen and (min-width: 426px) {
  /* headding */
  h1{font-size: 32px;}
  h2{font-size: 28px;}
  h3{font-size: 24px;}
  h4{font-size: 20px;}
  h5{font-size: 18px;}
  h6{font-size: 16px;}
  /* paragraph */
  p{font-size: 16px;}
  a{font-size: 16px;}
}


/* laptop */
@media screen and (min-width: 769px) {
  /* headding */
  h1{font-size: 36px;}
  h2{font-size: 32px;}
  h3{font-size: 28px;}
  h4{font-size: 24px;}
  h5{font-size: 22px;}
  h6{font-size: 20px;}
  /* paragraph */
  p{font-size: 18px;}
  a{font-size: 18px;}
}
